.p {
  width: 30%;
  height: 100%;
  /* 給flex就自己撐開了 */
  margin: 1rem 0.5rem;
  /* border: 2px solid; */
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding: 5px;
}
.a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-browser {
  /* background-color: #ccc; */
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  /* position: sticky; */
  z-index: 2;
}
.p-circle {
  height: 5px;
  width: 5px;
  background-color: #fff;
  margin: 2px;
  border-radius: 50%;
}
.p-img {
  width: 100%;
  transition: all 10s ease;
}
.p:hover .p-img {
  transform: translateY(-100%);
  /* transform: translateX(-100%); */
}
